<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Blog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/posts/add">Add post</a>
                </li>
            </ul>
            <div class="d-flex">
                <% if(user) { %>
                    <img src="<%=user.profile%>" width="64" alt="Profile.">
                    <li style="list-style-type: none;" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle me-4" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <%=user.name%>
                        </a>
                        <ul class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
                            <li><a class="btn btn-primary" href="/users/<%=user.id%>">Profile</a></li>
                            <br>
                            <li><a class="btn btn-danger" href="/logout">Logout</a></li>
                        </ul>
                    </li>
                <% } else{ %>
                    <a class="btn btn-success me-4" href="/login">Login</a>
                    <a class="btn btn-success" href="/register">Register</a>
                <% } %>
            </div>
        </div>
    </div>
</nav>