<div style="margin-top: 100px;"></div>
<div class="flex justify-center">
    <div class="w-full lg:w-1/2 bg-gray-800 py-6 px-8 rounded-lg">
        <h1 class="text-4xl font-semibold mb-8">Contact me</h1>
        <div class="mb-4 bg-gray-700 py-8 px-8 rounded-lg">
            <i class="fab fa-discord fa-3x cursor-crosshair float-left"></i>
            <a href="https://discord.com/users/441221465019514881" target="_blank" class="text-xl font-semibold">Emrah#9891</a>
        </div>
        <div class="mb-4 bg-gray-700 py-8 px-8 rounded-lg">
            <i class="fab fa-instagram fa-3x cursor-crosshair float-left"></i>
            <a href="https://www.instagram.com/arasemr1234" target="_blank" class="text-xl font-semibold">arasemr12</a>
        </div>
        <div class="mb-4 bg-gray-700 py-8 px-8 rounded-lg">
            <i class="fab fa-github fa-3x cursor-crosshair float-left"></i>
            <a href="https://github.com/arasemr12" target="_blank" class="text-xl font-semibold">arasemr12</a>
        </div>
    </div>
</div>