<div style="margin: 150px;"></div>
<div class="flex justify-center">
    <form class="w-full lg:w-1/2 bg-gray-800 py-6 px-8 rounded-lg" action="/register" method="post">
        <% if (locals.message) { %>
            <ul>
                <li>
                    <%= message %>
                </li>
            </ul>
            <% } %>
                <input class="form-control" type="text" name="username" placeholder="Username." autocomplete="off"
                    required><br><br>
                <input class="form-control" type="text" name="name" placeholder="Name." autocomplete="off" required><br><br>
                <input class="form-control" type="password" name="password" placeholder="Password." autocomplete="off"
                    required><br><br>
                <button type="submit" class="green-button">Submit</button>
    </form>
</div>