.card{
    display:inline-flex;
    margin: 20px;
    height: auto;
}
pre{
    font-family: sans-serif;
    font-size: 2vh;
}

.postimg{
    display:table-cell;
    width: 4000px;
    height: 200px;
    vertical-align:middle;
    text-align:center;
}